:root {
  //colors
  --primary-color: rgb(62,
  180,
  137);
  --secondary-color: rgb(211, 80, 109);
  --light-grey: rgb(240, 240, 240);
  --dark-grey: rgb(38, 42, 45);
  --white: rgb(255,255,255);
}
